@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,700;1,500,800,900&display=swap");
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: #e0e0e0;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
}

.container {
  padding: 24px 24px 0 24px;
  width: 100%;
  min-width: 350px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 28px;
  color: black;
}

h1 span {
  opacity: 0.5;
}

h2 {
  padding: 2.5rem 0 1.5rem;
}

h2::before {
  content: "|";
  width: 5px;
  height: 12px;
  padding-right: 0.2rem;
  color: rgba(65, 65, 65, 0.9);
}

header {
  margin-bottom: 4rem;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  padding: 0 0.2rem;
  border: 1px solid rgba(71, 71, 71, 0.8);
  width: 50%;
}

form input {
  background: transparent;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  outline: none;
  border: none;
  padding: 0.7rem;
  font-size: 16px;
  width: 100%;
}

form button {
  background: #f2f2f2;
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
  border: none;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

form button img {
  width: 25px;
}

.categories-movies-btns button {
  padding: 0.5rem 0.4rem;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #ffffff;
  border: 1px solid rgba(41, 41, 41, 0.25);
  border-radius: 4px;
  cursor: pointer;
}

.movies-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  overflow: scroll;
  color: #292929;
}

.movies-container::-webkit-scrollbar {
  display: none;
}

.movie {
  background: #f2f2f2;
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
  padding: 1.1rem;
  border-radius: 10px;
  width: 245px;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.movie:hover {
  opacity: 0.8;
  -webkit-transition: 0.3s all;
  transition: 0.3s all;
}

.movie .poster {
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  border-radius: 4px;
  max-width: 250px;
  height: 310px;
}

.movie .movie-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0.5rem 0;
  height: 70px;
  position: relative;
}

.movie .movie-details h3 {
  font-size: 18px;
  padding-top: 1rem;
}

.movie .movie-details .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.2rem;
  font-weight: bold;
  position: absolute;
  top: -28%;
  left: 37%;
  padding: 6px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
}

.movie .movie-details .rating .green {
  background: #dbffe3;
  border: 2px solid #4bfb72;
}

.movie .movie-details .rating .yellow {
  background: #fff1ce;
  border: 2px solid #fbca4b;
}

.movie .movie-details .rating .red {
  background: #ffdeda;
  border: 2px solid #fb604b;
}

.movie .release,
.movie .genre {
  padding: 0.5rem 0;
}

.movie .release span,
.movie .genre span {
  padding: 0.2rem 0.4rem;
  font-size: 10px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  background: #ffffff;
  border: 1px solid rgba(41, 41, 41, 0.25);
  border-radius: 4px;
}

.slider {
  position: relative;
  width: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  will-change: transform;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  overflow: scroll;
  padding-right: 12px;
  -webkit-mask: -webkit-gradient(linear, left top, right top, from(#0000), color-stop(0%, #000), to(#0000));
  -webkit-mask: linear-gradient(to right, #0000, #000 0% 98%, #0000);
}

.searched-movies {
  display: -ms-grid;
  display: grid;
  grid-gap: 2rem;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  overflow: hidden;
}

.searched-movies .media-type {
  display: none;
}

.searched,
.action,
.romance,
.documentary {
  display: none;
}

.top-rated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;
}

.top-rated .top-rated-lists {
  width: 32%;
}

.top-rated .top-rated-lists h2 {
  padding-top: 1rem;
}

.top-rated .top-rated-lists ul .top-rated-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.top-rated .top-rated-lists ul .top-rated-item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.top-rated .top-rated-lists ul .top-rated-item a span {
  font-size: 12px;
  font-weight: 500;
}

.top-rated .top-rated-lists ul .top-rated-item a:hover {
  opacity: 0.8;
}

.top-rated .top-rated-lists ul .top-rated-item .score {
  padding: 0.4rem 0.5rem;
  border-radius: 5px;
  width: 40px;
  height: auto;
  text-align: center;
}

.top-rated .top-rated-lists ul .top-rated-item .green {
  background: #dbffe3;
  border: 2px solid #4bfb72;
}

.top-rated .top-rated-lists ul .top-rated-item .yellow {
  background: #fff1ce;
  border: 2px solid #fbca4b;
}

.top-rated .top-rated-lists ul .top-rated-item .red {
  background: #ffdeda;
  border: 2px solid #fb604b;
}

.top-people {
  padding: 2rem 0;
}

.top-people .top-people-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[20];
      grid-template-columns: repeat(20, 1fr);
  gap: 1rem;
  overflow: scroll;
}

.top-people .top-people-list::-webkit-scrollbar {
  display: none;
}

.top-people .top-people-list .top-people-item {
  max-width: 150px;
  text-align: center;
}

.top-people .top-people-list .top-people-item img {
  border-radius: 4px;
  max-width: 150px;
}

.top-people .top-people-list .top-people-item span {
  font-weight: 600;
}

.top-news .top-news-articles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-news .top-news-articles a {
  color: #000;
}

.top-news .top-news-articles li {
  max-width: 250px;
}

.top-news .top-news-articles li img {
  max-width: 250px;
  height: 150px;
  border-radius: 4px;
}

.modal-window-container {
  visibility: hidden;
}

.modal-window-container .modal-window {
  background: #f2f2f2;
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
  position: fixed;
  width: 80%;
  max-width: 1000px;
  max-height: 80vh;
  padding: 2rem;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  border-radius: 10px;
  overflow-y: scroll;
  color: #292929;
  opacity: 0.95;
}

.modal-window-container .modal-window h2 {
  font-size: 32px;
  padding-block: 0.2rem;
}

.modal-window-container .modal-window h2::before {
  display: none;
}

.modal-window-container .modal-window .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  background: transparent;
  border: none;
  width: 32px;
  font-weight: bold;
  cursor: pointer;
}

.modal-window-container .modal-window .release {
  padding-bottom: 1.5rem;
  font-weight: 700;
}

.modal-window-container .modal-window .release span {
  font-size: 14px;
  opacity: 0.8;
}

.modal-window-container .modal-window .release span:first-child::after {
  content: "|";
  padding: 0.5rem;
}

.modal-window-container .modal-window .movie-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}

.modal-window-container .modal-window .movie-info p {
  font-weight: bold;
  padding-bottom: 1.5rem;
}

.modal-window-container .modal-window .movie-info p span {
  font-weight: normal;
}

.modal-window-container .modal-window img {
  border-radius: 10px;
  width: 100%;
  border-radius: 4px;
  max-width: 220px;
}

.modal-window-container .modal-window h3 {
  padding-bottom: 1rem;
}

.modal-window-container .modal-window .cast .actors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.5rem;
}

.modal-window-container .modal-window .cast .actors .actor {
  max-width: 100px;
}

.modal-window-container .modal-window .cast .actors img {
  width: 80px;
  height: 120px;
}

.modal-window-container .modal-window .cast .actors span {
  display: block;
}

.modal-window-container .modal-window .cast .actors h4 span {
  font-size: 12px;
  font-weight: 500;
  text-transform: capitalize;
  opacity: 0.8;
}

.show {
  visibility: visible;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  cursor: pointer;
}

footer {
  background-color: #474747;
  margin-top: 3rem;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding: 3rem;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.social-links img {
  width: 28px;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.8rem;
}

footer li {
  padding: 8px 0;
}

footer a {
  color: white;
}

h4 {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0.5rem 2rem 3rem;
}

.footer-links a {
  padding: 0 1rem;
  font-size: 12px;
  color: #b4b4b4;
}

.footer-links a:not(:last-child) {
  border-right: 1px solid #b4b4b4;
}

@media (max-width: 1130px) {
  .top-rated {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .top-rated .top-rated-lists {
    width: 45%;
  }
  .top-news .top-news-articles {
    gap: 1.5rem;
  }
  .searched-movies {
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .modal-window-container .modal-window .close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    width: 24px;
    font-weight: bold;
    cursor: pointer;
  }
  .modal-window-container .modal-window .cast .actors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .modal-window-container .modal-window .cast .actors .actor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    max-width: 400px;
  }
  .modal-window-container .modal-window .cast .actors img {
    width: 100px;
    height: 150px;
  }
  .modal-window-container .modal-window .cast .actors h4 {
    text-align: left;
  }
  .modal-window-container .modal-window .cast .actors h4 span {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
    opacity: 0.8;
  }
  .searched-movies {
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .top-rated .top-rated-lists {
    width: 100%;
  }
  .slider {
    padding-right: 0px;
    -webkit-mask: none;
  }
  .modal-window-container .modal-window .movie-info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: white;
  }
  footer .footer-links {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    text-align: left;
  }
}

@media (max-width: 580px) {
  .searched-movies {
    grid-gap: 2rem;
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=style.css.map */