@import url("https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300;400;500;600;700;800&family=Roboto:ital,wght@0,300;0,400;0,700;1,500,800,900&display=swap");

@mixin card-style {
  background: #f2f2f2;
  border: 1px solid rgba(41, 41, 41, 0.1);
  border-radius: 8px;
}

$title-color: #292929;

// *********** RATING COLORS ***********

.green {
  background: #dbffe3;
  border: 2px solid #4bfb72;
}

.yellow {
  background: #fff1ce;
  border: 2px solid #fbca4b;
}

.red {
  background: #ffdeda;
  border: 2px solid #fb604b;
}

.gray {
  background: rgb(219, 219, 219);
  border: 2px solid #505050;
}

//loading

#loading {
  background-color: #fff;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;

  .loader {
    width: 80px;
    height: 80px;
    border: 10px solid #505050;
    border-color: #505050 transparent #505050 transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
// *********** CUSTOM SCROLLBAR ***********

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background-color: rgb(224, 224, 224);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 50px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// *********** BODY ***********

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Albert Sans", sans-serif;
  font-size: 16px;
  overflow-y: hidden;
}

.container {
  padding: 24px 24px 0 24px;
  width: 100%;
  min-width: 350px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 28px;
  color: $title-color;
  span {
    opacity: 0.5;
  }
}

h2 {
  padding: 2.5rem 0 1.5rem;
  color: $title-color;

  &::before {
    content: "|";
    width: 5px;
    height: 12px;
    padding-right: 0.2rem;
    color: rgba(65, 65, 65, 0.9);
  }
}

// *********** NAVBAR ***********

header {
  margin-bottom: 4rem;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  padding: 0 0.2rem;
  border: 1px solid rgba(41, 41, 41, 0.1);
  width: 50%;

  input {
    background: transparent;
    flex: 1;
    outline: none;
    border: none;
    padding: 0.7rem;
    font-size: 16px;
    width: 100%;
  }

  button {
    @include card-style;
    border: none;
    border-radius: 50px;
    width: 35px;
    height: 35px;

    cursor: pointer;

    img {
      width: 25px;
    }
  }
}

// *********** MOVIES BY CATEGORIES BUTTONS ***********

.categories-movies-btns {
  button {
    padding: 0.5rem 0.4rem;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    background: #ffffff;
    border: 1px solid rgba(41, 41, 41, 0.25);
    border-radius: 4px;
    color: $title-color;
    cursor: pointer;
  }
}

// *********** MOVIES / TV-SHOWS SLIDERS ***********

.movies-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 1rem;
  overflow: scroll;
  color: $title-color;
}

.movies-container::-webkit-scrollbar {
  display: none;
}

.movie {
  @include card-style;
  padding: 1.1rem;
  border-radius: 10px;
  width: 245px;
  transition: 0.3s all;

  &:hover {
    opacity: 0.8;
    transition: 0.3s all;
  }

  .poster {
    border-radius: 10px;
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    max-width: 250px;
    height: 310px;
  }

  .movie-details {
    display: flex;
    align-items: flex-start;
    padding: 0.5rem 0;
    height: 65px;
    position: relative;

    h3 {
      font-size: 16px;
      padding-top: 1rem;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .rating {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.2rem;
      width: 2.5rem;
      height: 2.1rem;
      font-weight: bold;
      position: absolute;
      top: -20%;
      left: 0;
      right: 0;
      transform: translateX(100%);
      font-size: 18px;
      font-weight: 700;
      border-radius: 8px;
    }
  }

  .release,
  .genre {
    padding: 0.5rem 0;
    font-size: 14px;
    cursor: default;

    span {
      padding: 0.2rem 0.4rem;
      font-size: 10px;
      font-weight: 800;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      background: #ffffff;
      border: 1px solid rgba(41, 41, 41, 0.25);
      border-radius: 4px;
    }
  }
}

.slider {
  position: relative;
  width: 100%;
  transition: all 0.4s;
  will-change: transform;
  user-select: none;
  overflow: scroll;
  padding-right: 12px;
  -webkit-mask: linear-gradient(to right, (#0000, #000 0% 98%, #0000));
  cursor: move;
}

// *********** MOVIES / TV-SHOWS SEARCHED ***********

.searched-movies,
.action-movies,
.romance-movies,
.documentary-movies {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  overflow: hidden;

  .media-type {
    display: none;
  }
}

.searched,
.action,
.romance,
.documentary {
  display: none;
}

// *********** MOVIES / TV-SHOWS TOP RATED LISTS ***********

.top-rated {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 2rem;

  .top-rated-lists {
    width: 32%;

    h2 {
      padding-top: 1rem;
    }

    ul {
      .top-rated-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0.5rem;
        color: $title-color;

        a {
          display: flex;
          flex-direction: column;
          cursor: pointer;

          span {
            font-size: 12px;
            font-weight: 500;
          }

          &:hover {
            opacity: 0.8;
          }
        }

        .score {
          padding: 0.4rem 0.5rem;
          border-radius: 5px;
          width: 40px;
          height: auto;
          text-align: center;
        }
      }
    }
  }
}

// *********** TOP PEOPLE THIS WEEK ***********

.top-people {
  padding: 2rem 0;

  .top-people-list {
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    gap: 1rem;
    overflow: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .top-people-item {
      max-width: 150px;
      text-align: center;
      img {
        border-radius: 4px;
        max-width: 150px;
      }

      span {
        font-weight: 600;
      }
    }
  }
}

// *********** TOP NEWS AND ARTICLES  ***********

.top-news {
  .top-news-articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    a {
      color: $title-color;
    }

    li {
      max-width: 250px;

      img {
        max-width: 250px;
        height: 150px;
        border-radius: 4px;
      }
    }
  }
}

// *********** MODAL WINDOW  ***********

.modal-window-container {
  visibility: hidden;

  .modal-window {
    @include card-style;
    position: fixed;
    width: 80%;
    max-width: 1000px;
    max-height: 80vh;
    height: fit-content;
    padding: 2rem;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    border-radius: 10px;
    overflow-y: scroll;
    color: $title-color;
    h2 {
      font-size: 32px;
      padding-block: 0.2rem;
      &::before {
        display: none;
      }
    }

    .close-modal {
      position: absolute;
      top: 25px;
      right: 25px;
      background: transparent;
      border: none;
      width: 32px;
      font-weight: bold;
      cursor: pointer;
    }

    .release {
      padding-bottom: 1.5rem;

      span {
        font-size: 14px;
        opacity: 0.8;
      }

      span:first-child::after {
        content: "|";
        padding: 0.5rem;
      }
    }

    .movie-info {
      display: flex;
      gap: 2rem;
      padding-bottom: 1rem;

      p {
        font-weight: bold;
        padding-bottom: 1.5rem;

        span {
          font-weight: normal;
        }
      }
    }

    img {
      border-radius: 10px;
      width: 100%;
      border-radius: 4px;
      max-width: 220px;
    }

    h3 {
      padding-bottom: 1rem;
    }

    .cast {
      .actors {
        display: flex;
        justify-content: space-between;
        gap: 1.5rem;

        .actor {
          max-width: 100px;
        }

        img {
          width: 80px;
          height: 120px;
        }

        span {
          display: block;
        }

        h4 {
          span {
            font-size: 12px;
            font-weight: 500;
            text-transform: capitalize;
            opacity: 0.8;
          }
        }
      }
    }
  }
}

.show {
  visibility: visible;
}

// *********** OVERLAY  ***********

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 99;
  cursor: pointer;
}

// *********** FOOTER  ***********

footer {
  background-color: $title-color;
  margin-top: 3rem;
}

.footer-content {
  display: flex;
  gap: 10rem;
  justify-content: center;
  color: white;
  padding: 3rem;
}

// social media icons
.social-links {
  display: flex;
  gap: 1rem;
  img {
    width: 28px;
  }
}

.contact-item {
  display: flex;
  gap: 0.8rem;
}

footer li {
  padding: 8px 0;
}

footer a {
  color: white;
}

h4 {
  padding-bottom: 0.5rem;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0.5rem 2rem 3rem;

  a {
    padding: 0 1rem;
    font-size: 12px;
    color: #b4b4b4;
  }
}

.footer-links a:not(:last-child) {
  border-right: 1px solid #b4b4b4;
}

// *********** SCREEN SIZE < 1100px  ***********

@media (max-width: 1130px) {
  // ******** TOP RATED SECTION ********
  .top-rated {
    display: flex;
    flex-wrap: wrap;

    .top-rated-lists {
      width: 45%;
    }
  }

  // ******** TOP NEWS SECTION ********

  .top-news {
    .top-news-articles {
      gap: 1.5rem;
    }
  }

  // ******** SEARCHED MOVIES / TV SHOWs********

  .searched-movies,
  .action-movies,
  .romance-movies,
  .documentary-movies {
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
  }
}

// *********** SCREEN SIZE < 900px  ***********

@media (max-width: 900px) {
  // ******** MODAL WINDOW ********
  .modal-window-container {
    .modal-window {
      .close-modal {
        position: absolute;
        top: 10px;
        right: 10px;
        background: transparent;
        border: none;
        width: 24px;
        font-weight: bold;
        cursor: pointer;
      }

      .cast {
        .actors {
          display: flex;
          flex-direction: column;

          .actor {
            display: flex;
            align-items: center;
            gap: 2rem;
            max-width: 400px;
          }

          img {
            width: 100px;
            height: 150px;
          }

          h4 {
            text-align: left;
            span {
              font-size: 14px;
              font-weight: 500;
              text-transform: capitalize;
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  // ******** SEARCHED MOVIES / TV SHOWs********

  .searched-movies,
  .action-movies,
  .romance-movies,
  .documentary-movies {
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

// *********** SCREEN SIZE < 768px  ***********

@media (max-width: 768px) {
  // ******** TOP RATED SECTION ********
  .top-rated {
    .top-rated-lists {
      width: 100%;
    }
  }

  // ******** SLIDER ********
  .slider {
    padding-right: 0px;
    -webkit-mask: none;
  }

  // ******** MODAL WINDOW ********
  .modal-window-container {
    .modal-window {
      .movie-info {
        flex-direction: column;
      }
    }
  }

  // ******** FOOTER ********
  footer {
    .footer-content {
      display: flex;
      flex-direction: column;
      gap: 2.5rem;
      justify-content: center;
      color: white;
    }

    .footer-links {
      justify-content: flex-start;
      flex-wrap: wrap;
      text-align: left;
    }
  }
}

@media (max-width: 580px) {
  // ******** SEARCHED MOVIES / TV SHOWs********

  .searched-movies,
  .action-movies,
  .romance-movies,
  .documentary-movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}
